body {
  font-family: sans-serif;
  background-image: url("https://res.cloudinary.com/dx1uhvlo8/image/upload/v1524178801/business-businessmen-classroom-267507_tkwv0f.jpg");
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#checkoutSection {
  margin-top: 10px;
}

.headertext {
  font-family: 'Do Hyeon', sans-serif;
  text-align: center;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.text-leftalign {
  text-align: right;
}

.text-rightalign {
  text-align: right;
}

.text-centeralign {
  text-align: right;
}

table {
  border-collapse:collapse;
  border:1px solid #FF0000;
  width:100%;
}

table td {
  border:1px solid #000000;
}

table th {
  border:1px solid #000000;
}

td img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.productListItem {
  color: blue;
  background-color: #BBB;
  width: 200px;
  height: 200px;
  margin: 25px;
  padding: 15px;
  box-shadow: 8px 8px 10px #CCC;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  color: red;
  justify-content: center;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}
